body{
    padding-left: 2em;
    font-family: "Times New Roman", sans-serif;
    border-collapse: collapse;
    width: 1000px;
    font-size: large;
    background-color: slategray;

}

body span:hover{
    display: inline-block;
    background-color: gray;
    color: lightgray;
    text-decoration:none;
    padding: 5px 3px;
    font-family: "Helvetica Neue", Helvetica Neue, sans-serif;
}